@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 横スクロールを防止 */
}

/* 背景色　*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #A8E185, #FFFAD0); /* 上から下へ */
  min-height: 100vh;
}